<img src="{{ constant('ROOT_URL') }}views/images/elephant-ninja.png" class="pull-left" />
<h1>Welcome on this PHP Quiz demo website!</h1>

<p>

    This website is a standard Mouf/Splash website featuring a <a href="quiz">PHP Quiz</a> module.

    It is part of a wider demo, showcasing how to deploy on same code in many different environments.
</p>